@font-face {
  font-family: "Apercu";
  src: url("./apercu_regular_pro.otf")
}

* {
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Apercu';
  padding: 0 5rem;
  background-color: #EBEDF2;
  color: #0E0A17;
  overflow: hidden;
}

button{ font-family: 'Apercu'; cursor: pointer; transition: 0.4s;}
button:focus {outline:0;}
button:hover {background-color: #49347E;}

canvas{
  background-color: #FFFFFF;
}

.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container--large{height: 80%; margin-top: 5rem;}
.container--small{height: 20%; margin-top: 2rem;}

.button{
  background-color: #A282F3;
  color: #FFF;
  border-radius: 4px;
  border: none;
  padding: 10px;
  font-size: 1rem;
}

.suggestion-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  justify-content: space-between;
  align-items: top;
}

.suggestion-container div{
  display: flex;
  justify-content: space-between;
}

.suggestion-item{
  display: inline-block;
  position: relative;
  height: 250px;
  width: 250px;
  padding: 1px;
  box-shadow: 0 14px 28px rgba(14,10,23,0.08), 0 10px 10px rgba(14,10,23,0.05);
}

.suggestion-img{
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.button--active{
  background-color: #49347E;
}

.button--center{
  margin: 0 auto;
  display: block;
}

.button-group{
  width: 600px;
  display: block;
}

.button-group--flex{
  display: flex;
  justify-content: space-between;
}

.main-canvas{
  height: 600px;
  position: relative;
  box-shadow: 0 14px 28px rgba(14,10,23,0.08), 0 10px 10px rgba(14,10,23,0.05);
}


.lds-dual-ring {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  z-index: 10;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 80px;
  height: 80px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.active{display: block;}
.hidden{display: none;}


/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Portrait */
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Landscape */
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1.5) {

}
